%p#notice= notice

%tr{ :style => "background: #afa"}
	- @friend = current_user.confirmed_friends.find(@incoming_relationship.requesting_user_id)
	%td= @incoming_relationship.requesting_user_id
	%td= @incoming_relationship.receiving_user_id
	%td= @incoming_relationship.status
	%td= link_to "#{@friend.name_first} #{@friend.name_last}", user_path(@friend)
	%td Request Sent

= link_to 'Edit', edit_relationship_path(@relationship)
\|
= link_to 'Back', relationships_path
