%div.narrowpage
  %h1.subtitle Listing User's Relationships
  - if @incoming_relationships.count > 0
    - @incoming_relationships.each do |relationship|
      / pink
      %div.friendslist{ :style => "background: #faa"}
        - @friend = User.find(relationship.requesting_user_id)
        %span= link_to "#{@friend.name_first} #{@friend.name_last}", user_path(@friend)
        %span= link_to "Accept", relationship_path(relationship), :method => :patch

  - if @outgoing_relationships.count > 0
    - @outgoing_relationships.each do |relationship|
      / green
      %div.friendslist{ :style => "background: #afa"}
        - @friend = User.find(relationship.receiving_user_id)
        %span= link_to "#{@friend.name_first} #{@friend.name_last}", user_path(@friend)
        %span Request Sent

  - if @confirmed_relationships.count > 0
    - @confirmed_relationships.each do |relationship|
      / blue
      %div.friendslist{ :style => "background: #aaf"}

        - if relationship.receiving_user_id == current_user.id
          - @friend = User.find(relationship.requesting_user_id)
        - else
          - @friend = User.find(relationship.receiving_user_id)

        %span= link_to "#{@friend.name_first} #{@friend.name_last}", user_path(@friend)
        %span Confirmed  

  %br

  = link_to 'New Relationship', users_path
