%div.narrowpage
  %h1.subtitle Listing User's Relationships
  - if current_user.friend_requests.count > 0
    - current_user.friend_requests.each do |friend|
      / pink
      %div.friendslist{ :style => "background: #faa"}
        %span= link_to "#{friend.name_first} #{friend.name_last}", user_path(friend)
        %span= link_to "Accept", relationship_path("#{friend.id}"), :method => :patch

  - if current_user.pending_friends.count > 0
    - current_user.pending_friends.each do |friend|
      / green
      %div.friendslist{ :style => "background: #afa"}
        %span= link_to "#{friend.name_first} #{friend.name_last}", user_path(friend)
        %span Request Sent

  - if current_user.confirmed_friends.count > 0
    - current_user.confirmed_friends.each do |friend|
      / blue
      %div.friendslist{ :style => "background: #aaf"}
        %span= link_to "#{friend.name_first} #{friend.name_last}", user_path(friend)
        %span Confirmed  

  %br

  = link_to 'New Relationship', users_path
