/ User's Profile
%div.page
	- if (!(@auth_friend||@auth_admin))
		%h2.subtitle Only #{@user.name_first.capitalize}'s friends can view their profile
		%h2.subtitle
			= link_to "Send friend request to #{@user.name_first.capitalize}", new_relationship_path("#{@user.id}")
	- else
		%title #{@user.name_first} #{@user.name_last}'s Profile
		%p#notice= notice
		%h2.subtitle #{@user.name_first} #{@user.name_last}'s Profile
		%div.subtitle
			%span 
				= link_to "#{@user.name_first} #{@user.name_last}'s Posts", user_posts_path(@user)
			%span 
				|
			%span 
				= link_to 'Edit Profile', edit_user_path(@user)
			%span 
				|
			%span 
				= link_to 'Find Friend', users_path
			%span 
				|
			%span 
				= link_to 'List My Friends', :controller => :relationships, :action => :user_index
		%div.subtitle
			%span Email:
			%span.minor #{@user.email}
			%span Date of Birth:
			%span.minor #{@user.dob.strftime('%d-%b-%Y')}
			%span Gender:
			%span.minor #{@user.gender}
		%br
		%table.user
			%tr
				%td 
					%span.subtitle Interests:
					%br
					#{@user.interests}
				%td 
					%span.subtitle Quotes:
					%br
					#{@user.quotes}
				%td
					%span.subtitle TV & Movies:
					%br
					#{@user.tv_and_movies}
				%td
					%span.subtitle Music:
					%br
					#{@user.music}
		%div.wall
			%h2.title #{@user.name_first}'s Wall
			= link_to 'New Post', new_user_post_url(user_id: params[:id])
			- @posts.each do |post|
				%div.post
					%span.author Posted by: #{post.author.name_first.capitalize} #{post.author.name_last.capitalize}
					%p #{post.content}
					.timestamp #{post.created_at}
			%br
