/ User's Profile
%title #{@user.name_first} #{@user.name_last}'s Profile
%p#notice= notice
%h2 #{@user.name_first} #{@user.name_last}'s Profile
= link_to "#{@user.name_first} #{@user.name_last}'s Posts", user_posts_path(@user)
= link_to 'Edit Profile', edit_user_path(@user)
= link_to 'Back to User List', users_path

%h3 Email:
%p #{@user.email}

%h3 Date of Birth:
%p #{@user.dob.strftime('%m-%b-%Y')}
%h3 Gender:
%p #{@user.gender}
%h3 Interests:
%p #{@user.interests}
%h3 Quotes:
%p #{@user.quotes}
%h3 TV and Movies:
%p #{@user.tv_and_movies}
%h3 Music:
%p #{@user.music}
