
%fieldset
	= form_tag users_path, :method => :post do
		= label :user, :login_email, 'Login Email'
		= text_field :user, :login_email
		%br

		= label :user, :login_password, 'Login Password'
		= password_field :user, :login_password
		%br
		%br

		= submit_tag 'Log In'
