%div.page
  %title #{@user.name_first}'s Newsfeed
  %h2.subtitle #{@user.name_first}'s Newsfeed
  %p#notice= notice

  = link_to 'New Post', new_user_post_path
  %table#posts
    - @posts.each do |post|
      %tr
        %td 
          #{post.content}
          %br 
          %span.subtitle Posted by: #{post.author.name_first.capitalize} #{post.author.name_last.capitalize} on 
          %span.minor #{post.created_at}
          %br 
  
  %br
  
  
