!!! 5
%html
  %head
    %title Software Engineering Final Project
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %header
      %h1.title Software Engineering Final Project
      %div.headerlinks
        - if signed_in?
          %span
            = link_to 'User List', users_path 
          %br
          %span
            = link_to "#{current_user.name_first} #{current_user.name_last}", current_user
          %br
          %span
            = link_to 'Edit Profile', edit_user_path(current_user), :method => :get
          %br
          %span
            = link_to 'Sign Out', signout_path, :method => :delete

        - elsif !signed_in?
          %span
            = link_to 'Sign In', signin_path, :method => :get
          %br
          %span
            = link_to 'Sign Up', signup_path, :method => :get
    #main
      - if flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:error]
        #error.message= flash[:error]
      - elsif flash[:success]
        #error.message= flash[:success]

      = yield